<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/53a8c415f1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/select.css">
    <style>
        body {
              background-image: url('static/Background-sample.jpg');
              background-repeat: no-repeat;
              background-size: cover;
        }
    </style>
</head>
<body>
    <div class="wrap">
        <div class="item_list">
            <button class="btn1" type="button" onclick="window.location.href='/select_generate'">파워카드<br></br>생성하기</button>
            <button class="btn2" type="button" onclick="window.location.href='/select_list'">불러오기</button>
        </div>
    </div>
</body>
</html>